.box {
    background-color:$silver;
    padding: $s-size;
    margin-bottom: $s-size;
    @include border-radius(5px);
    border: darken($silver, 15%) 1px solid;
}
.box.payments div {
    text-align: center;
    word-break: break-word;
}