.big-button:disabled {
    opacity: .5;
}
//Button
.button {
    background: $dark-silver;
    border:none;
    border-bottom: .3rem solid darken($dark-silver, 10%);
    color:white;
    font-weight: 500;
    padding: $s-size;
    @include border-radius(5px);
    &:hover {
        background: darken($dark-silver, 5%);
        color:white;
    }
}
//modified base version
.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}
.button__crypto {
    color: $midnight2;
    width:100%;
    @include border-radius(5px);
    justify-content: center;
    /*border: .1rem solid darken($dark-silver, 10%);*/
    background-color: darken($silver, 0%);
    border: darken($silver, 15%) 1px solid;
    &:hover {
        background: darken($silver, 10%);
        border: darken($silver, 25%) 1px solid;
        color: $midnight2;
    }
}
.button__cyrpto__unselected {
    background: white;
    color: $midnight2;
    border: .1rem solid darken($silver, 10%);
}
svg {
    vertical-align: text-top;
}
@media (min-width: $desktop-breakpoint) {
    .big-button {
        margin-bottom: $xl-size;
    }
}