.react-datepicker-wrapper , .react-datepicker__input-container, .react-datepicker__input-container input {

    width:100%;
}
.react-datepicker__input-container input {
    padding:1.2rem;
    color: $midnight;
}