.header {
    background: $off-black;
    color:white;
    margin-bottom: $m-size;
    padding: $m-size 0;
}
.header__container {
    max-width:75rem;
    margin: 0 auto;
    padding: 0 $m-size;
}
//BEM - block element modifier - convention
//title is in header child __
.header__title {
    font-size: $l-size;
    margin:0;
}
.subheader {
    max-width:60rem;
    margin: 0 auto $m-size auto;
    padding: 0 $m-size; 
    text-align: center;
    color:white;
}
@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
    }
}