//Colors 
$off-white: #a5afd7;
$required:red;
$box: #f5eff7;
$red: #9E0603;
$silver: #C0C0C0;
$dark-silver: #6e6968;
$midnight: #3a3a3a;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$lm-size: 2.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//Border Radius Mixin:
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}